#sidebar {
    display: flex;
    position: fixed;
    width: 13%;
    background-color: black;
    border-right: 2px solid rgba(128, 128, 128, 0.171);
    border-radius: 10px;
  }

.close{
    left: -100%;
    transition: 900ms;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
  }
  
  ul li {
    padding: 1rem;
    width: 200px;
  }
  
  ul li a {
    text-decoration: none;
    padding: 0.5rem;
  }