@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
  font-family: 'Kanit', sans-serif;
}
 
.card-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
  }