  .small-card {
    min-width: 125px;
    max-width: 175px;
    background-color: #ff0033;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    border-radius: 18px ;
  }
  
  .small-card > h2{
    font-weight: bold;
    font-size: 20px;
  }
  
  .small-card > p{
    font-weight: bold;
  }
  
  .small-card:hover{
    opacity: 90%;
    cursor: pointer;
  }
  
  .small-card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }

  .big-card {
    width: 400px;
    height: 500px;
    background-color: #ff0033;
    margin-left: 4rem;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    border-radius: 36px ;
  }
  
  .big-card > h2{
    font-weight: bold;
    font-size: 20px;
  }
  
  .big-card > p{
    font-weight: bold;
  }
  
  .big-card:hover{
    opacity: 90%;
    cursor: pointer;
  }
  
  .big-card img {
    border-radius: 20px;
    width: 400px;
    height: 470px;
  }

  .container-small, .container-big{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-small:hover{
    height: 215px;
  } 

  .categcard-container button{
    font-size: 20px;
  }
  
  .categcard-container button:hover{
    color: #ff0033;
  }