@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

* {
  font-family: "Kanit", sans-serif;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
}

.point {
  cursor: pointer;
}

.powerstats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  text-align: center;
}

.section-btn {
  background-color: black;
  color: white;
  width: 125px;
  border-radius: 18px;
}

.section-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.section-btn:hover,
.section-btn:focus-within {
  color: #ff0032;
}

.progressbar {
  width: 300px;
  height: 20px;
}

#intelligence::-webkit-meter-optimum-value {
  background: rgba(255, 130, 0, 1);
}

#strength::-webkit-meter-optimum-value {
  background: rgba(200, 0, 255, 1);
}

#speed::-webkit-meter-optimum-value {
  background: rgba(70, 200, 50, 1);
}

#durability::-webkit-meter-optimum-value {
  background: rgba(255, 180, 0, 1);
}

#power::-webkit-meter-optimum-value {
  background: rgba(255, 0, 50, 1);
}

#combat::-webkit-meter-optimum-value {
  background: rgba(0, 120, 255, 1);
}

.fav-on {
  color: red;
  width: 30px;
  cursor: pointer;
}

.fav-off {
  color: black;
  width: 30px;
  cursor: pointer;
}
