.open{
  display: flex;
  cursor: none;
  opacity: 1;
  transition: opacity 500ms ease-out;
}

#submenu {
  display: flex;
  list-style-type: none;
  align-items: center;
}

li:hover{
  opacity: 70%;
}

#submenu li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.close{
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-out;
}

