.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dark-mode-toggle.active {
  background-color: black;
  color: white;
}
