body.dark-mode {
  background-color: #101010 ;
  color: white;
  transition: background-color 1s ease-in-out;
}

body.dark-mode p{
  color: white;
}

#dark-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
