.open {
  color: rgb(255, 255, 255);
  height: 30px;
  margin-bottom: 1.5rem;
  opacity: 1;
  background-color: #ff0032;
  animation: ease-in 1s;
}

.close {
  visibility: hidden;
  opacity: 0;
  height: 30px;
  margin-bottom: 1.5rem;
  transition: visibility 0s, opacity 500ms ease-out;
  animation: ease-out 1s;
}

.submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 33rem;
}

.submenu a:hover,
.headerdown #list:hover {
  color: black;
  text-decoration: none;
  opacity: 1;
}

.submenu li a {
  text-decoration: none;
  padding: 1.5rem;
}

.headerdown {
  margin-top: 0.3rem;
  position: relative;
  height: 30px; /* Altezza fissa per evitare lo spostamento degli altri elementi */
}

.dropdown {
  width: 200px;
  height: 750px;
  padding-top: 0.5rem;
  background-color: #FF0032 !important;
  position: sticky;
  left: 100%;
}
