.open {
  color: rgb(255, 255, 255);
  height: 30px;
  margin-bottom: 1.5rem;
  opacity: 1;
  background-color: rgba(9, 9, 11, 0.947);
  animation: fade-in 1s;
}

.close {
  visibility: hidden;
  opacity: 0;
  height: 30px;
  margin-bottom: 1.5rem;
  transition: visibility 0s, opacity 500ms ease-out;
  animation: fade-out 1s;
}

#submenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
  width: max-content;
}

#submenu li {
  margin: 0.25rem;
}

#submenu li a:hover,
.headerdown #list:hover {
  color: #ff0033;
  text-decoration: none;
}

#submenu li a {
  text-decoration: none;
  padding: 1rem;
}

.headerdown {
  position: relative;
  height: 30px; /* Altezza fissa per evitare lo spostamento degli altri elementi */
}

.dropdown {
  padding-top: 1px; /* Posiziona il submenu sotto l'elemento del menu padre */
  background-color: rgba(9, 9, 11, 0.947);
}